node-red/flows.json
[
    {
        "id": "e8912cb7dc2a315b",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88ccaa17ff536e01",
        "type": "mqtt in",
        "z": "e8912cb7dc2a315b",
        "name": "MQTT Zigbee Sensor",
        "topic": "campus/coworking/sensors",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "48b426dfb3649545",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "22aacbe13ad42d4f",
                "1704ae1b053fa8ae"
            ]
        ]
    },
    {
        "id": "22aacbe13ad42d4f",
        "type": "debug",
        "z": "e8912cb7dc2a315b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "2a259e97b15822ed",
        "type": "function",
        "z": "e8912cb7dc2a315b",
        "name": "function 1",
        "func": "// payload est déjà un objet JSON\nlet v = msg.payload.data.lightOn;\n\n// sécurité: si jamais ça arrive en \"0\"/\"1\"\nif (typeof v === \"string\") v = v.trim();\n\nv = Number(v);\nif (!Number.isFinite(v)) return null;\n\n// force 0/1\nmsg.payload = v ? 1 : 0;\n\n// nom de la série dans le chart\nmsg.topic = \"LED\";\n\n// timestamp (optionnel)\nmsg.timestamp = Date.now();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 320,
        "wires": [
            [
                "0eaa1d71a7b37446"
            ]
        ]
    },
    {
        "id": "1704ae1b053fa8ae",
        "type": "function",
        "z": "e8912cb7dc2a315b",
        "name": "function 2",
        "func": "const crypto = global.get(\"crypto\");\n\n// ⚠️ MÊME CLÉ que sur l’Arduino\nconst HMAC_KEY = \"aCESI_2026_HMAC_SECRET\";\n\n// Données reçues\nlet receivedHmac = msg.payload.hmac;\nlet dataObj = msg.payload.data;\n\n// IMPORTANT : JSON identique à l’Arduino\nlet dataStr = JSON.stringify(dataObj);\n\n// Calcul HMAC\nlet computedHmac = crypto\n    .createHmac(\"sha256\", HMAC_KEY)\n    .update(dataStr)\n    .digest(\"hex\");\n\n// Vérification\nmsg.valid = (computedHmac === receivedHmac);\nmsg.hmacComputed = computedHmac;\n\nif (!msg.valid) {\n    node.warn(\"❌ HMAC invalide – message rejeté\");\n    return null;\n} else {\n    node.log(\"✅ HMAC valide\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 360,
        "wires": [
            [
                "73df8af7e637ee0e",
                "2a259e97b15822ed",
                "eed5d320f4f9279f",
                "afb113b8458fe539",
                "5f868dc50a0d3231",
                "106a33332e4d7007",
                "1c3ce02295136807"
            ]
        ]
    },
    {
        "id": "73df8af7e637ee0e",
        "type": "debug",
        "z": "e8912cb7dc2a315b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "106a33332e4d7007",
        "type": "ui_gauge",
        "z": "e8912cb7dc2a315b",
        "name": "",
        "group": "8bac30f923561996",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "luminosité",
        "label": "lux",
        "format": "{{msg.payload.data.lux}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "afb113b8458fe539",
        "type": "ui_gauge",
        "z": "e8912cb7dc2a315b",
        "name": "",
        "group": "e7e4b484f7127810",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Distance (cm)",
        "label": "cm",
        "format": "{{msg.payload.data.dist}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "5f868dc50a0d3231",
        "type": "ui_gauge",
        "z": "e8912cb7dc2a315b",
        "name": "",
        "group": "27787919796db890",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lumière ON/OFF",
        "label": "",
        "format": "{{msg.payload.data.lightOn}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ed390c",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "eed5d320f4f9279f",
        "type": "ui_gauge",
        "z": "e8912cb7dc2a315b",
        "name": "",
        "group": "e7e4b484f7127810",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "présence",
        "label": "units",
        "format": "{{msg.payload.data.presence}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#e21e08",
            "#e6e600",
            "#63ed07"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "0eaa1d71a7b37446",
        "type": "ui_chart",
        "z": "e8912cb7dc2a315b",
        "name": "",
        "group": "27787919796db890",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Historique de l'état de l'éclairage",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cdc713",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1c3ce02295136807",
        "type": "function",
        "z": "e8912cb7dc2a315b",
        "name": "function 3",
        "func": "const payload = msg.payload;\n\nmsg.payload = {\n  ...payload,\n  deviceId: payload.deviceId || \"dev01\",\n  timestamp: Date.now(),\n  ref: \"msg001\"\n};\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.method = \"POST\";\nmsg.url = \"http://host.docker.internal:3000/proof\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 620,
        "wires": [
            [
                "39a1b00fa72fb540"
            ]
        ]
    },
    {
        "id": "39a1b00fa72fb540",
        "type": "http request",
        "z": "e8912cb7dc2a315b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:3000/proof",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 730,
        "y": 680,
        "wires": [
            [
                "2b4cd41e0f7a5f15"
            ]
        ]
    },
    {
        "id": "2b4cd41e0f7a5f15",
        "type": "debug",
        "z": "e8912cb7dc2a315b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 660,
        "wires": []
    },
    {
        "id": "48b426dfb3649545",
        "type": "mqtt-broker",
        "name": "Mosquitto local",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8bac30f923561996",
        "type": "ui_group",
        "name": "Luminosité",
        "tab": "076ba92266bd9c6b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7e4b484f7127810",
        "type": "ui_group",
        "name": "Présence",
        "tab": "076ba92266bd9c6b",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "27787919796db890",
        "type": "ui_group",
        "name": "Eclairage",
        "tab": "076ba92266bd9c6b",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "076ba92266bd9c6b",
        "type": "ui_tab",
        "name": "Etat de l'éclairage du coworking",
        "icon": "",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e572bfadc754b41c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]